# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEA
.idea/

# Eclipse
.settings/
.project
.classpath

# Others
log/
diffs/
xmls/
.DS_Store
AuthInfo.json
repos/*/
data/*/
tmp/*.xml
tmp/*.txt
tmp/*.json

